@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Welkom bij The Bread Pit!";
}

<h1></h1>
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Frisse en Heerlijke Broodjes, Elke Dag!</h1>
        <h4 class="lead">Ontdek onze lekkere broodjes, zoete lekkernijen en hapjes met een drankje.</h4>
        <hr class="my-5">
        <p>Blader door onze selectie en bestel met gemak je favorieten.</p>
        <a class="btn btn-primary btn-lg" style="width: 40%" asp-controller="Produkt" asp-action="List" role="button"> Klik hier om verder te gaan </a>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-1"></div>
    <a asp-area="User" asp-controller="Produkt" asp-action="List" asp-route-id="@(5)" class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <img src="~/images/belegde broodjes2.jpg" class="card-img-top" alt="Lekkere broodjes">
            <div class="card-body">
                <p class="card-text text-center">Lekkere broodjes</p>
            </div>
        </div>
    </a>
    <a asp-area="User" asp-controller="Produkt" asp-action="List" asp-route-id="@(1)" class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <img src="~/images/Soep.jpg" class="bd-placeholder-img card-img-top" alt="Soep">
            <div class="card-body">
                <p class="card-text text-center">Soep</p>
            </div>
        </div>
    </a>
    <a asp-area="User" asp-controller="Produkt" asp-action="List" asp-route-id="@(3)" class="col-md-3 mb-3">
            <div class="card shadow-sm">
            <img src="~/images/Pasta.jpg" class="bd-placeholder-img card-img-top"  alt="Pasta">
            <div class="card-body">
                <p class="card-text text-center">Pasta</p>
            </div>
        </div>
    </a>
    <div class="col-md-1"></div>
</div>
<div class="row justify-content-center">
    <div class="col-md-1"></div>
    <a asp-area="User" asp-controller="Produkt" asp-action="List" asp-route-id="@(6)" class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <img src="~/images/zoet-fruit.jpg" class="bd-placeholder-img card-img-top" alt="Fruit & gebak">
            <div class="card-body">
                <p class="card-text text-center">Fruit & gebak</p>
            </div>
        </div>
    </a>
    <a asp-area="User" asp-controller="Produkt" asp-action="List" asp-route-id="@(8)" class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <img src="~/images/Dranken.jpg" class="bd-placeholder-img card-img-top" alt="Dranken">
            <div class="card-body">
                <p class="card-text text-center">Dranken</p>
            </div>
        </div>
    </a>
    <a asp-area="User" asp-controller="Produkt" asp-action="List" asp-route-id="@(7)" class="col-md-3 mb-3">
        <div class="card shadow-sm">
            <img src="~/images/Andere.jpg" class="bd-placeholder-img card-img-top" alt="Andere">
            <div class="card-body">
                <p class="card-text text-center">Andere</p>
            </div>
    </div>
    </a>
    <div class="col-md-1"></div>
</div>

@section Scripts {
    <script>
        // Eventuele scripts die nodig zijn voor de pagina
    </script>
}
