@model The_Bread_Pit.Models.Bestelling

<h2>Bestelling Details</h2>


<div>
    <h4>Bestelling @Model.BestellingId</h4>
    <div>Datum: @Model.BestelDatum.ToString("dd MMM yyyy")</div>
    <div>Totaalprijs: @Model.TotaalPrijs</div>
</div>


<h3>Items</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Aantal</th>
            <th>Prijs per stuk</th>
            <th>Totaal</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <form method="post" asp-action="UpdateItemAantal" asp-route-id="@item.BestelItemId">
                <td>@item.Produkt.ProduktNaam</td>
                <td><input type="number" name="nieuwAantal" value="@item.Aantal" /></td>
                <td>@item.PrijsPerStuk</td>
                <td>@(item.Aantal * item.PrijsPerStuk)</td>
                <td><button type="submit" class="btn btn-info">Update</button></td>
                <td>
                    <form method="post" asp-action="VerwijderProduct" asp-route-id="@item.BestelItemId">
                        <button type="submit" class="btn btn-danger">Verwijder</button>
                    </form>
                </td>
                </form>                

            </tr>
        }
    </tbody>
</table>
<div>
    <form method="post" asp-action="VoegProductToe" asp-route-bestellingId="@Model.BestellingId">
        <select name="productId" class="form-control">
            @foreach (var product in ViewBag.Producten)
            {
                <option value="@product.Value">@product.Text</option>
            }
        </select>
        <input type="number" name="aantal" class="form-control " min="1" value="1" />
        <button type="submit" class="btn btn-primary">Toevoegen</button>
    </form>
</div>
<div>
    <a asp-controller="BestellingOverzicht" asp-action="OverzichtBestellingen" class="btn btn-secondary">Teruggaan</a>
</div>


