@model ProduktenLijst
@{
    ViewBag.Title = "User Produkt lijst";
}

<h1 class="cent" >WELCOME OP DE BESTELSITE VAN THE BREAD PIT</h1>

<div class="row">
    <div class ="col text-left"><h4>Hieronder vindt u de lijst met onze producten.</h4>
         </div>
    <div class="col text-right">
        <a asp-controller="Winkelmandje" asp-action="Index" class="btn btn-success text-white">
            <i class="fas fa-shopping-cart"></i> Bekijk Winkelmandje
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            <a asp-controller="Produkt" asp-action="List" asp-route-id="Alles" class="list-group-item
            @Model.ActiveCategory("All")">Alles</a>
            @foreach (Categorie categorie in Model.Categorien)
            {
                <a asp-controller="Produkt" asp-action="List" asp-route-id="@categorie.CategoryID"
                   class="list-group-item">@categorie.CategorieNaam</a>
            }
        </div>
    </div>
    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Omschrijving</th>
                    <th>Prijs</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var produkt in Model.Produkten)
                {
                    <tr>                        
                        <td>@produkt.Omschrijving</td>
                        <td>@produkt.Prijs.ToString("c")</td>
                        <td>
                            <a asp-controller="Produkt" asp-action="Details" asp-route-id="@produkt.ProductID"
                               asp-route-url="@produkt.Url" class="btn btn-outline-primary">Bekijk details</a>
                        </td>
                        <td>
                            <a asp-controller="Winkelmandje" asp-action="Toevoegen" asp-route-productId="@produkt.ProductID"
                               class="btn btn-outline-info">Voeg toe aan winkelmandje</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
